body {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.03) 100%
    ),
    #161616;
}

html {
  scroll-behavior: smooth;
}

.body_lock {
  overflow: hidden;
}

.container {
  padding: 0 15px;
}

.main {
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 75, 40, 1);

  .content {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }

  .gallery {
    display: grid;
    grid-template-areas:
      'a a b b c c'
      'a a d d d d'
      'f f f f e e'
      'g g h h h h';
    gap: 15px;

    @include media('<tablet') {
      grid-template: 280px / repeat(auto-fit, minmax(250px, 1fr));
      grid-template-areas: none;
    }
  }

  .gallery_item {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:nth-child(1) {
      grid-area: a;

      @include media('<tablet') {
        grid-area: auto;
        object-position: 100% 5%;
      }
    }
    &:nth-child(2) {
      grid-area: b;

      @include media('<tablet') {
        grid-area: auto;
      }
    }
    &:nth-child(3) {
      grid-area: c;

      @include media('<tablet') {
        grid-area: auto;
      }
    }
    &:nth-child(4) {
      grid-area: d;

      @include media('<tablet') {
        grid-area: auto;
      }
    }
    &:nth-child(5) {
      grid-area: f;

      @include media('<tablet') {
        grid-area: auto;
      }
    }
    &:nth-child(6) {
      grid-area: e;

      @include media('<tablet') {
        grid-area: auto;
      }
    }
    &:nth-child(7) {
      grid-area: g;

      @include media('<tablet') {
        grid-area: auto;
      }
    }
    &:nth-child(8) {
      grid-area: h;

      @include media('<tablet') {
        grid-area: auto;
      }
    }
  }

  .popUp_content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    background-color: $yellow;
    @include adaptive-value('padding-top', 30, 15, 1);
    @include adaptive-value('padding-bottom', 30, 15, 1);
    @include adaptive-value('padding-right', 30, 15, 1);
    @include adaptive-value('padding-left', 30, 15, 1);
    max-width: 975px;
    width: calc(100% - 20px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  .content_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .popUp_active {
    height: auto;
    visibility: visible;
    transition: all 0.5s ease 0s;
    transform: translate(-50%, -50%) scale(1);
  }

  .popUp_container {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .activeContainer {
    display: block;
  }

  .popUp_text_content {
    width: 55%;

    @include media('<tablet') {
      width: 100%;
    }
  }

  .close_element {
    text-align: end;
    cursor: pointer;
    @include adaptive-value('width', 40, 20, 1);
    @include adaptive-value('height', 40, 20, 1);
  }

  .popUp_title {
    color: $black;
    @include adaptive-value('font-size', 20, 18, 1);
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 15px;
  }

  .popUp_text {
    color: $black;
    font-size: 16px;
    line-height: 125%;
  }

  .popUp_img {
    width: 43%;
    height: 365px;

    @include media('<tablet') {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.about {
  background-color: $yellow;
  @include adaptive-value('padding-top', 130, 30, 1);
  @include adaptive-value('padding-bottom', 250, 140, 1);
  position: relative;

  @include media('<phone') {
    padding-bottom: 100px;
  }

  .content {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    width: 100%;
  }

  .title {
    color: $black;
    @include adaptive-value('font-size', 48, 36, 1);
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  .text {
    color: $black;
    text-align: justify;
    @include adaptive-value('font-size', 24, 16, 1);
    line-height: 115%;
  }
}

.contact {
  @include adaptive-value('padding-top', 260, 70, 1);
  @include adaptive-value('padding-bottom', 260, 40, 1);
  position: relative;

  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    width: 100%;
  }

  .content {
    max-width: 735px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media('<tablet') {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }

  .left_column {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    width: 100%;
    border-right: 1px solid $yellow;
    @include adaptive-value('padding-right', 64, 0, 1);

    @include media('<tablet') {
      border: none;
      max-width: 100%;
      padding: 0;
      text-align: center;
    }
  }

  .right_column {
    max-width: 380px;
    width: 100%;

    @include media('<tablet') {
      max-width: 100%;
      text-align: center;
    }
  }

  .contact_title {
    color: $yellow;
    @include adaptive-value('font-size', 36, 24, 1);
    font-weight: 600;
    @include adaptive-value('margin-bottom', 40, 20, 1);
  }

  .right_title {
    margin-bottom: 15px;
  }

  .link {
    color: $yellow;
    @include adaptive-value('font-size', 20, 16, 1);
    @include adaptive-value('margin-bottom', 40, 20, 1);
    display: inline-block;
  }

  .last {
    margin: 0;
  }

  .text {
    color: $yellow;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 120%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mail_input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $yellow;
    margin-bottom: 15px;
    padding: 20px 8px;

    &::placeholder {
      color: $yellow;
      @include adaptive-value('font-size', 20, 16, 1);
    }
  }

  .form_btn {
    color: #161616;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    background-color: $yellow;
    border-radius: 4px;
    border: none;
  }
}
