.footer {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.03) 100%
    ),
    #161616;
  @include adaptive-value('padding-top', 65, 30, 1);
  @include adaptive-value('padding-bottom', 65, 30, 1);

  .content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    @include media('<phone') {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .column {
    display: flex;
    flex-direction: column;

    @include media('<phone'){
      align-items: center;
    }
  }

  .logo {
    max-width: 195px;
    width: 100%;
    margin-bottom: 20px;
  }

  .copyright {
    color: $yellow;
    @include adaptive-value('font-size', 20, 16, 1);
  }

  .link {
    color: $yellow;
    @include adaptive-value('font-size', 20, 16, 1);
    margin-bottom: 25px;
    display: inline-block;
  }

  .facebook {
    width: 24px;
    height: 24px;
  }
}

.footer_black {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.03) 100%
    ),
    #161616;

  .column_1 {
    border-right: 1px solid $yellow;

    @include media('<desktop') {
      border: none;
    }
  }

  .copyright,
  .link,
  .column_title,
  .contact_title,
  .text {
    color: $yellow;
  }

  .mail_input {
    border-bottom: 1px solid $yellow;
    &::placeholder {
      color: $yellow;
    }
  }

  .form_btn {
    background-color: $yellow;
    color: $black;
  }
}
