.footer {
  background: $yellow;
  @include adaptive-value('padding-top', 65, 30, 1);
  @include adaptive-value('padding-bottom', 65, 30, 1);

  .content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    @include media('<desktop') {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .column_1 {
    border-right: 1px solid $black;

    @include media('<desktop') {
      border: none;
    }
  }

  .logo {
    width: 335px;
    width: 100%;
    margin-bottom: 110px;
    @include adaptive-value('width', 335, 245, 1);
    @include adaptive-value('padding-right', 88, 0, 1);

    @include media('<desktop') {
      padding: 0;
      margin-bottom: 20px;
    }
  }

  .copyright {
    color: $black;
    @include adaptive-value('font-size', 20, 16, 1);
  }

  .visible {
    @include media('<desktop') {
      display: none;
    }
  }

  .hidden {
    display: none;

    @include media('<desktop') {
      display: block;
    }
  }

  .column_title {
    font-weight: 400;
  }

  .link,
  .column_title {
    color: $black;
    @include adaptive-value('font-size', 20, 16, 1);
    margin-bottom: 25px;
    display: inline-block;
  }

  .last {
    margin: 0;
  }

  .column_4 {
    max-width: 380px;
  }

  .contact_title {
    color: $black;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .text {
    color: $black;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 120%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mail_input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $black;
    margin-bottom: 15px;
    padding: 20px 8px;

    &::placeholder {
      color: $black;
      @include adaptive-value('font-size', 20, 16, 1);

      @include media('<desktop') {
        text-align: center;
      }
    }
  }

  .form_btn {
    color: $yellow;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    background-color: $black;
    border-radius: 4px;
    border: none;
  }
}

.footer_black {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.03) 100%
    ),
    #161616;

  .column_1 {
    border-right: 1px solid $yellow;

    @include media('<desktop') {
      border: none;
    }
  }

  .copyright,
  .link,
  .column_title,
  .contact_title,
  .text {
    color: $yellow;
  }

  .mail_input {
    border-bottom: 1px solid $yellow;
    &::placeholder {
      color: $yellow;
    }
  }

  .form_btn {
    background-color: $yellow;
    color: $black;
  }
}
