@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/Fontspring-DEMO-proximanovacond-semibold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Times New Roman';
  src: url('../fonts/times-new-roman.ttf');
  font-style: normal;
  font-weight: 400;
}
