#footer {
  @include adaptive-value('padding-bottom', 65, 30, 1);

  .content{
    text-align: center;
  }

  .logo {
    max-width: 265px;
    display: inline-block;
    margin: 0 auto;
  }
}