#header {
  @include adaptive-value('padding-top', 50, 25, 1);
  @include adaptive-value('padding-bottom', 50, 25, 1);

  .menu_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive-value('gap', 112, -50, 1);

    @include media('<tablet') {
      gap: 20px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include media('<phone') {
      flex-direction: column;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    @include media('<tablet') {
      justify-content: center;
    }
  }

  .logo {
    display: inline-block;
    max-width: 265px;
    width: 100%;

    @include media('<phone') {
      margin-bottom: 20px;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .menu_link {
    color: $black;
    @include adaptive-value('font-size', 24, 16, 1);
    font-weight: 600;
    text-transform: uppercase;
  }
}