<footer id="footer">
  <div class="container">
    <div class="content">
      <div class="column">
        <a href="index.html" class="logo">
          <img src="./image/logo.webp" alt="logo" />
        </a>
        <p class="footer_text">
          Lorem ipsum dolor sit amet. Est doloribus deleniti aut amet quia aut
          laudantium itaque. Qui iure quia sit saepe molestiae aut obcaecati
          iste est excepturi doloremque sed consequuntur nemo.
        </p>
      </div>
      <div class="column_wrap">
        <div class="column">
          <h3 class="footer_title">QUICK MENU</h3>
          <nav class="menu">
            <ul class="menu_list">
              <li class="menu_item">
                <a class="menu_link" href="index.html">Home</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#">Articles</a>
              </li>
              <li class="menu_item"><a class="menu_link" href="about.html">About</a></li>
            </ul>
          </nav>
        </div>
        <div class="column">
          <h3 class="footer_title">SOCIAL MEDIA</h3>
          <a href="#" class="menu_link">facebook</a>
        </div>
      </div>
    </div>
  </div>
</footer>
