@font-face {
  font-family: 'Special Agent';
  src: url('../fonts/specialagentexpand.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Tw Cen MT Condensed';
  src: url('../fonts/Tw-Cen-MT-Condensed-Font.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Special Agent Condensed';
  src: url('../fonts/specialagentcond.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.ttf');
  font-style: normal;
  font-weight: 400;
}
