<header id="header">
  <div class="container">
    <div class="content">
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item first"><a class="menu_link " href="about.html">About Us</a></li>
          <li class="menu_item logo">
            <a class="logo" href="index.html">
              <img src="./image/logo.svg" alt="logo" />
            </a>
          </li>
          <li class="menu_item last"><a class="menu_link" href="index.html#contact">Contact Us</a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>
