<footer id="footer">
  <div class="container">
    <div class="content">
      <a href="index.html" class="logo">
        <img src="./image/logo.webp" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a class="menu_link" href="index.html">Home</a>
          </li>
          <li class="menu_item"><a class="menu_link" href="#">About</a></li>
          <li class="menu_item"><a class="menu_link" href="#">Articles</a></li>
          <li class="menu_item"><a class="menu_link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <p class="footer_text">
        Duis ac finibus enim, sit amet vulputate quam. Ut ac ante vel dolor
        pulvinar bibendum. Curabitur molestie, nisl quis porta laoreet, est ex
        pellentesque orci.
      </p>
      <a href="#" target="_blank" class="facebook">
        <img src="./image/facebook.svg" alt="facebook" />
      </a>
      <p class="copyright">Copyright 2023 © All Right Reserved</p>
    </div>
  </div>
</footer>
