<header id="header">
  <div class="container">
    <div class="content">
      <div class="left_side">
        <a href="index.html" class="logo">
          <img src="./image/logo.webp" alt="logo" />
        </a>
        <nav class="menu">
          <ul class="menu_list">
            <li class="menu_item">
              <a class="menu_link" href="index.html">Home</a>
            </li>
            <li class="menu_item">
              <a class="menu_link" href="about.html">About</a>
            </li>
            <li class="menu_item topics">
              <a class="menu_link" href="#">Topics</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="topics_list">
    <div class="title_wrap">
      <h3 class="topics_title">Topics</h3>
      <div class="close_element"></div>
    </div>
    <nav class="topics_menu">
      <ul class="topics_menu_list">
        <li class="topics_item">
          <a class="topics_link" href="#"
            >Scooter Meet-Ups: Organizing and covering scooter meet-ups.</a
          >
          <p class="topics_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec.
          </p>
        </li>
        <li class="topics_item">
          <a class="topics_link" href="#"
            >Local Scooter Legends: Profiling notable figures in local scooter
            scenes.</a
          >
          <p class="topics_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec.
          </p>
        </li>
        <li class="topics_item">
          <a class="topics_link" href="#"
            >Community-Driven Events: Spotlight on events organized by scooter
            clubs.</a
          >
          <p class="topics_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec.
          </p>
        </li>
        <li class="topics_item">
          <a class="topics_link" href="#"
            >Community Stories: Sharing experiences from the scooter
            community.</a
          >
          <p class="topics_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec.
          </p>
        </li>
        <li class="topics_item">
          <a class="topics_link" href="#"
            >Scooter Collaboration Projects: Collaborative projects in the
            scooter world.</a
          >
          <p class="topics_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec.
          </p>
        </li>
        <li class="topics_item">
          <a class="topics_link" href="#"
            >Community Support Initiatives: How scooter communities support each
            other</a
          >
          <p class="topics_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec.
          </p>
        </li>
        <li class="topics_item">
          <a class="topics_link" href="#"
            >Group Ride Guides: Tips for organizing and participating in group
            rides.</a
          >
          <p class="topics_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec.
          </p>
        </li>
      </ul>
    </nav>
  </div>
</header>
