<header id="header">
  <div class="container">
    <div class="content">
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a class="menu_link" href="index.html#articles">Articles</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="about.html">About</a>
          </li>
        </ul>
      </nav>
      <div class="social_links">
        <a href="#" target="_blank" class="link">
          <img src="./image/facebook.svg" alt="facebook" />
        </a>
      </div>
    </div>
  </div>
</header>
