#header {
  padding: 20px 0;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include media('<900px') {
      flex-direction: column;
      gap: 30px;
    }
  }

  .links_wrap,
  .menu_list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .links_wrap {
    @include media('<900px') {
      width: 100%;
      justify-content: space-between;
    }

    @include media('<phone') {
      flex-direction: column;
    }
  }



  .logo {
    max-width: 93px;
  }

  .menu_list {
    @include adaptive-value('gap', 30, 14, 1);
  }

  .menu_link {
    color: $black;
    font-size: 14px;
  }

  form {
    @include media('<phone') {
      width: 80%;
    }
  }
}
