<header id="header">
  <div class="container">
    <div class="content">
      <a class="logo" href="index.html">
        <img src="./image/logo.webp" alt="logo" />
      </a>
      <div class="menu_wrap">
        <nav class="menu">
          <ul class="menu_list">
            <li class="menu_item">
              <a class="menu_link" href="index.html">Home</a>
            </li>
            <li class="menu_item">
              <a class="menu_link" href="#articles">Articles</a>
            </li>
          </ul>
        </nav>
        <nav class="menu">
          <ul class="menu_list">
            <li class="menu_item"><a class="menu_link" href="#">About</a></li>
            <li class="menu_item">
              <a class="menu_link" href="contact.html">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
