@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fontspring';
  src: url('../fonts/Fontspring-DEMO-proximanova-semibold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Century Schoolbook';
  src: url('../fonts/Century-Schoolbook.ttf');
  font-style: normal;
  font-weight: 600;
}
