<footer id="footer">
  <div class="container">
    <div class="content">
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a class="menu_link" href="index.html">Home</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="articles.html">Articles</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="about.html">About us</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="logo_wrap">
        <a href="index.html" class="logo">
            <img src="./image/logo.svg" alt="logo">
        </a>
        <a href="#" class="facebook">
            <img src="./image/facebook.svg" alt="facebook">
        </a>
      </div>
    </div>
  </div>
</footer>
