<header id="header">
    <div class="container">
        <div class="content">
            <a href="index.html" class="logo">
                <img src="./image/logo.svg" alt="logo">
            </a>
            <nav class="menu">
              <ul class="menu_list">
                <li class="menu_item"><a class="menu_link" href="index.html">Home</a></li>
                <li class="menu_item"><a class="menu_link" href="articles.html">Articles</a></li>
                <li class="menu_item"><a class="menu_link" href="about.html">About us</a></li>
                <li class="menu_item"><a class="menu_link" href="contact.html">Contact Us</a></li>
              </ul>
            </nav>
            <img class="social" src="./image/socila.svg" alt="media">
        </div>
    </div>
</header>