<header id="header" class="header header_post">
  <div class="content">
    <a href="index.html" class="logo">
      <img src="./image/logo_2.webp" alt="logo">
    </a>
    <nav class="menu">
      <ul class="menu_list">
        <li class="menu_item"><a class="menu_link" href="index.html#about">About</a></li>
        <li class="menu_item"><a class="menu_link" href="index.html#blog">Blogs</a></li>
        <li class="menu_item"><a class="menu_link" href="index.html#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="search_wrap">
      <form>
        <input class="search" type="search" placeholder="search" />
        <img class="icon" src="./image/search.svg" alt="search icon" />
      </form>
    </div>
  </div>
</header>
