#footer {
  @include adaptive-value('padding-top', 65, 30, 1);
  @include adaptive-value('padding-bottom', 65, 30, 1);
  background-color: $black;
  @include adaptive-value('height', 575, 350, 1);

  @include media('<phone') {
    height: auto;
  }

  .container {
    max-width: 1270px;
    height: 100%;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    gap: 40px;

    @include media('<phone') {
      flex-direction: column;
      align-items: center;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;

    @include media('<phone') {
      align-items: center;
      text-align: center;
      gap: 25px;
    }
  }

  .title {
    color: $white;
    @include adaptive-value('font-size', 36, 24, 1);
    font-weight: 800;
  }

  .link_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media('<tablet') {
      align-items: center;
      gap: 10px;
    }
  }

  .link {
    color: $white;
    @include adaptive-value('font-size', 24, 18, 1);
  }

  .logo {
    max-width: 90px;
  }

  .facebook {
    width: 48px;
    height: 48px;
  }

  .menu_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .menu_link {
    color: $white;
    @include adaptive-value('font-size', 24, 18, 1);
    font-weight: 600;
  }
}
