<footer id="footer">
  <div class="container">
    <div class="content">
      <a href="index.html" class="logo">
        <img src="./image/logo.webp" alt="logo" />
      </a>
      <div class="line"></div>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item"><a class="menu_link" href="index.html">Home</a></li>
          <li class="menu_item"><a class="menu_link" href="blog.html">Blog</a></li>
          <li class="menu_item"><a class="menu_link" href="about.html">About</a></li>
          <li class="menu_item"><a class="menu_link" href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
