<header id="header">
  <nav class="menu">
    <ul class="menu_list">
      <li class="menu_item"><a class="menu_link" href="index.html">Home</a></li>
      <li class="menu_item"><a class="menu_link" href="blog.html">Blogs</a></li>
      <li class="menu_item"><a class="menu_link" href="about.html">About Us</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="content">
      <div class="burger_menu">
        <span></span>
      </div>
      <a href="index.html" class="logo">
        <img src="./image/logo.webp" alt="logo" />
      </a>
      <div class="search">
        <img src="./image/search.svg" alt="search" />
      </div>
    </div>
  </div>
</header>
