@font-face {
    font-family: 'Proximanova';
    src: url('../fonts/Fontspring-DEMO-proximanova-black.ttf');
    font-style: normal;
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Proximanova';
    src: url('../fonts/Fontspring-DEMO-proximanovacond-semibold.ttf');
    font-style: normal;
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Proximanova';
    src: url('../fonts/Fontspring-DEMO-proximanova-regular.ttf');
    font-style: normal;
    font-weight: 400;
  }
  