<footer id="footer">
  <div class="container">
    <div class="footer_content">
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a class="menu_link" href="index.html">Home</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="index.html#articles">Articles</a>
          </li>
          <li class="menu_item"><a class="menu_link" href="about_us.html">About Us</a></li>
        </ul>
      </nav>
      <a href="index.html" class="logo">
        <img src="./images/footer_logo.webp" alt="logo" />
      </a>
      <div class="socila_links">
        <!-- <a href="#" class="link"></a>
        <a href="#" class="link"></a>
        <a href="#" class="link"></a>
        <a href="#" class="link"></a> -->
        <img src="./images/links.svg" alt="links" />
      </div>
    </div>
  </div>
</footer>
