<header id="header">
  <div class="container">
    <div class="content">
      <div class="logo_wrap">
        <a href="index.html" >
          <img class="logo" src="./image/logo.webp" alt="logo" />
        </a>
      </div>
      <div class="search_wrap">
        <form>
          <div class="input_wrap">
            <input class="search" type="search" placeholder="Search" />
            <img class="search_icon" src="./image/search.svg" alt="search" />
          </div>
        </form>
      </div>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item"><a class="menu_link" href="#articles">Articles</a></li>
          <li class="menu_item"><a class="menu_link" href="#about">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
