<header id="header">
    <div class="container">
        <div class="content">
            <div class="links_wrap">
                <a href="index.html" class="logo">
                    <img src="./images/logo.webp" alt="logo">
                </a>
                <nav class="menu">
                  <ul class="menu_list">
                    <li class="menu_item"><a class="menu_link" href="index.html">Home</a></li>
                    <li class="menu_item"><a class="menu_link" href="scooters.html">Shop</a></li>
                    <li class="menu_item"><a class="menu_link" href="articles.html">Articles</a></li>
                    <li class="menu_item"><a class="menu_link" href="about_us.html">About Us</a></li>
                    <li class="menu_item"><a class="menu_link" href="subscribe.html">Subscribe</a></li>
                  </ul>
                </nav>
            </div>
            <div class="serach_wrap">
                <form>
                    <div class="input_wrap">
                        <input class="search" type="search" placeholder="I’m looking for...">
                        <img class="icon" src="./images/search.svg" alt="search">
                    </div>
                </form>
                <div class="profile">
                    <img class="profile_photo" src="./images/Profile.png" alt="profile">
                    <img class="arrow" src="./images/arrow.svg" alt="profile">
                </div>
            </div>
        </div>
    </div>
</header>