<header id="header">
  <div class="container">
    <div class="content">
      <div class="links_wrap">
        <a href="index.html" class="logo">
          <img src="./images/logo.webp" alt="logo" />
        </a>
        <nav class="menu">
          <ul class="menu_list">
            <li class="menu_item">
              <a class="menu_link" href="index.html">Home</a>
            </li>
            <li class="menu_item">
              <a class="menu_link" href="scooters.html">Shop</a>
            </li>
            <li class="menu_item">
              <a class="menu_link" href="articles.html">Articles</a>
            </li>
            <li class="menu_item">
              <a class="menu_link" href="about_us.html">About Us</a>
            </li>
            <li class="menu_item">
              <a class="menu_link" href="subscribe.html">Subscribe</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
