<footer id="footer">
  <div class="container">
    <div class="content">
      <div class="footer_top">
        <div class="column column_1">
          <a href="index.html" class="logo">
            <img src="./image/white_logo.svg" alt="logo" />
          </a>
          <p class="footer_text">
            Lorem ipsum dolor sit amet consectetur. Gravida egestas scelerisque
            ultricies et diam lacus quis pellentesque.
          </p>
          <div class="contact_info">
            <div class="info_wrap">
              <span class="info_name">Email Address</span>
              <a href="mailto:Glidgear@gmail.com" class="link"
                >Glidgear@gmail.com</a
              >
            </div>
            <div class="info_wrap">
              <span class="info_name">Phone Number</span>
              <a href="tel:+1234567890" class="link">+1234567890</a>
            </div>
          </div>
        </div>
        <div class="column">
          <h3 class="column_title">Company</h3>
          <nav class="menu">
            <ul class="menu_list">
              <li class="menu_item">
                <a class="menu_link" href="index.html">Home</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#blog">Blogs</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#about">About</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="column">
          <h3 class="column_title">social</h3>
          <a href="#" class="menu_link">facebook</a>
        </div>
      </div>
      <div class="footer_bottom">
        <p class="rights">Copy Right GlideGear 2024, All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
