<footer id="footer">
  <div class="container">
    <div class="content">
      <div class="column column_1">
        <h3 class="title">Contact Us</h3>
        <div class="link_wrap">
          <a href="#" class="link">+123456789</a>
          <a href="#" class="link">example@email.com</a>
          <a href="#" class="link">Address</a>
        </div>
        <div class="link_wrap">
          <a href="#" class="link">+123456789</a>
          <a href="#" class="link">example@email.com</a>
          <a href="#" class="link">Address</a>
        </div>
      </div>
      <div class="column column_2">
        <a class="logo" href="index.html">
          <img src="./image/about_logo.webp" alt="logo" />
        </a>
        <a href="#" class="facebook">
          <img src="./image/facebook.svg" alt="facebook" />
        </a>
      </div>
      <div class="column column_2">
        <nav class="menu">
          <ul class="menu_list">
            <li class="menu_item">
              <a class="menu_link" href="index.html">Home</a>
            </li>
            <li class="menu_item">
              <a class="menu_link" href="about.html">About</a>
            </li>
            <li class="menu_item">
              <a class="menu_link orange_bg" href="#">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
