<header id="header">
  <div class="container">
    <div class="content">
      <a href="index.html" class="logo">
        <img src="./image/logo.webp" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item"><a class="menu_link" href="index.html">Home</a></li>
          <li class="menu_item"><a class="menu_link" href="about.html">About</a></li>
          <li class="menu_item">
            <a class="menu_link orange_bg" href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
