html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $white;
    @include adaptive-value("font-size", 20, 16, 1);
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid $white;
    padding: 16px 32px;
    width: max-content;
    transition: all .3s ease 0s;

    &:hover {
        background-color: #FFF;
        border-color: #740013;
        color: #740013;
        transition: all .3s ease 0s;
    }

    .arrow {
        width: 28px;
        height: 28px;
    }
}

.main {
    @include adaptive-value("padding-top", 250, 200, 1);
    position: relative;
    @include adaptive-value("height", 1024, 620, 1);

    .main_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #101010 22.66%, rgba(16, 16, 16, 0.40) 56.25%, #101010 85.89%);
            z-index: 1;
        }
    }

    .main_title {
        color: $white;
        font-family: "Open Sans";
        @include adaptive-value("font-size", 50, 32, 1);
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 15px;
    }

    .main_text {
        color: $whiteD6;
        @include adaptive-value("font-size", 35, 22, 1);
        line-height: 150%;
        letter-spacing: 1px;
        margin-bottom: 25px
    }
}

.guides {
    @include adaptive-value("padding-top", 120, 70, 1);
    @include adaptive-value("padding-bottom", 120, 70, 1);

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .guides_img {
        width: 40%;
        max-width: 530px;

        @include media('<desktop') {
            width: 100%;
        }
    }

    .guides_text {
        width: 49%;

        @include media('<desktop') {
            width: 100%;
        }
    }

    .title {
        color: #FFF;
        @include adaptive-value("font-size", 56, 36, 1);
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .descr {
        color: $whiteD6;
        @include adaptive-value("font-size", 20, 16, 1);
        line-height: 150%;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
}

.tips {
    @include adaptive-value("padding-top", 220, 70, 1);
    @include adaptive-value("padding-bottom", 220, 70, 1);
    position: relative;
    height: 100%;
    margin-bottom: -45px;

    .container {
        height: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #101010 0%, #740013 100%);
    }

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        gap: 30px;

        @include media('<tablet') {
            flex-direction: column;
            gap: 50px;
        }
    }

    .logo {
        max-width: 435px;
        width: 100%;
    }

    .tips_text {
        width: 45%;
        display: flex;
        flex-direction: column;
        height: 100%;

        @include media('<tablet') {
            width: 100%;
            text-align: center;
            align-items: center;
        }
    }

    .tips_title {
        color: $white;
        @include adaptive-value("font-size", 56, 36, 1);
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .tips_descr {
        color: $whiteD6;
        @include adaptive-value("font-size", 20, 16, 1);
        line-height: 150%;
        letter-spacing: 1px;
        margin-bottom: 15px
    }
}

.buy {
    @include adaptive-value("padding-top", 120, 70, 1);
    @include adaptive-value("padding-bottom", 60, 35, 1);
    background-color: $white;
    border-radius: 40px 40px 0px 0px;
    position: relative;

    .title {
        color: #1D1D21;
        @include adaptive-value("font-size", 56, 36, 1);
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        @include adaptive-value("margin-bottom", 85, 35, 1);

        .bold {
            font-weight: 600;
        }
    }

    .card_wrap {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }

    .card {
        @include adaptive-value("height", 610, 330, 1);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(16, 16, 16, 0.40);
            z-index: 1;
        }
    }

    .card_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card_text {
        position: relative;
        z-index: 2;
        height: 100%;
        padding: 40px 30px;
        display: flex;
        align-items: flex-end;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.history {
    @include adaptive-value("padding-top", 60, 35, 1);
    @include adaptive-value("padding-bottom", 120, 70, 1);
    background: $white;
    position: relative;
    z-index: 1;

    .title {
        color: #1D1D21;
        text-align: center;
        @include adaptive-value("font-size", 56, 36, 1);
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 50px;

        .bold {
            font-weight: 600;
        }
    }

    .cards_wrap {
        display: grid;
        grid-template: repeat(2, 300px) / repeat(4, 1fr);
        gap: 30px;

        @include media('<desktop') {
            grid-template: repeat(auto-fit, minmax(300px, 300px)) / repeat(auto-fit, minmax(300px, 1fr));
        }
    }

    .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(2) {
            grid-column: span 2;
            align-items: flex-end;

            @include media('<desktop') {
                grid-column: span 1;
            }
        }

        &:nth-child(3) {
            grid-row: span 2;

            @include media('<desktop') {
                grid-row: span 1;
            }
        }
    }

    .card_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.budget {
    position: relative;
    @include adaptive-value("padding-top", 250, 100, 1);
    @include adaptive-value("padding-bottom", 190, 70, 1);
    background-color: #740013;

    .budget_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: soft-light;
    }

    .container {
        height: 100%;
    }

    .content {
        position: relative;
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        z-index: 1;
        max-width: 865px;
        width: 100%;
        margin: 0 auto;
    }

    .title {
        text-align: center;
        @include adaptive-value("font-size", 72, 26, 1);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .descr {
        text-align: center;
        @include adaptive-value("font-size", 56, 22, 1);
        letter-spacing: 1px;
        margin-bottom: 35px;
        text-transform: uppercase;
    }
}

.trouble {
    .content {
        max-width: 1230px;
    }
}

.repair {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: $white;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 50px;

        @include media('<desktop') {
            flex-direction: column;
            gap: 0;
        }
    }

    .text {
        width: 48%;
        @include adaptive-value("padding-left", 70, 0, 1);

        @include media('<desktop') {
            width: 100%;
            padding: 35px 15px;
        }
    }

    .title {
        color: #000;
        @include adaptive-value("font-size", 56, 36, 1);
        font-weight: 400;
        line-height: 115%;
        font-family: "Open Sans";
        text-transform: uppercase;
        margin-bottom: 30px;
        max-width: 570px;
        width: 100%;

        @include media('<desktop') {
            max-width: 100%;
        }

        .bold {
            font-weight: 600;
        }
    }

    .main_btn {
        border-color: #000;
        color: #000;
        text-transform: uppercase;
        transition: all .3s ease 0s;

        &:hover {
            background-color: #740013;
            border-color: #740013;
            color: #fff;
            transition: all .3s ease 0s;
        }
    }

    .repair_img {
        width: 51%;
        @include adaptive-value("height", 750, 350, 1);

        @include media('<desktop') {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.impact {
    .content {
        flex-direction: row-reverse;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .text {
        width: 48%;
        padding-left: 0;
        @include adaptive-value("padding-right", 70, 0, 1);


        @include media('<desktop') {
            width: 100%;
            padding: 35px 15px;
        }
    }

    .title {
        font-weight: 600;
    }
}

.about {
    @include adaptive-value("padding-top", 130, 50, 1);
    @include adaptive-value("padding-bottom", 130, 50, 1);
    background-color: #000;

    .title {
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        @include adaptive-value("margin-bottom", 55, 30, 1);
        text-align: center;
    }

    .logo {
        max-width: 864px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 55, 30, 1);
    }

    .text {
        color: #FFF;
        @include adaptive-value("font-size", 24, 18, 1);
        font-weight: 400;
        line-height: 200%;
        max-width: 1075px;
        width: 100%;
        margin: 0 auto;
    }
}

.about_page {
    padding: 80px 0 60px 0;
    background-color: #FFF;

    .title,
    .text {
        color: #000;
    }
}

.topics_content {
    background-color: #fff;
    padding: 65px 0;

    .title {
        color: #000;
        font-family: "Open Sans";
        @include adaptive-value("font-size", 80, 36, 1);
        font-weight: 400;
        line-height: 115%;
        @include adaptive-value("margin-bottom", 65, 30, 1);
        max-width: 1095px;
        width: 100%;

        .bold {
            font-weight: 700;
        }
    }

    .subtitle {
        color: #000;
        @include adaptive-value("font-size", 36, 24, 1);
        font-weight: 400;
        line-height: 133%;
        @include adaptive-value("margin-bottom", 65, 30, 1);
    }

    .text {
        color: #000;
        @include adaptive-value("font-size", 24, 18, 1);
        line-height: 200%;
        @include adaptive-value("margin-bottom", 65, 30, 1);
    }
}

.tips_page {
    margin: 0;
}

.buy_subpage {
    margin-top: -45px;
    position: relative;
    z-index: 2;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px -35px 35px 0px rgba(0, 0, 0, 0.25);
}

.buy_page {
    border-radius: 0px;
}