<footer id="footer">
  <img class="footer_icon_1" src="./image/footer_icon_1.webp" alt="icon" />
  <img class="footer_icon_2" src="./image/footer_icon_2.webp" alt="icon" />
  <img class="footer_icon_3" src="./image/footer_icon_3.webp" alt="icon" />
  <div class="container">
    <div class="content">
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item">
            <a class="menu_link" href="index.html">Home</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="index.html#blog">Blog</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="index.html#about">About</a>
          </li>
        </ul>
      </nav>
      <a href="#" target="_blank" class="facebook">
        <img src="./image/facebook.svg" alt="facebook" />
      </a>
      <p class="rights">@SCOOTER SPHERE, All Rights Reserved</p>
    </div>
  </div>
</footer>
