#footer {
    background-color: #1A1A1A;
    @include adaptive-value("padding-top", 120, 30, 1);
    padding-bottom: 30px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        max-width: 320px;
        @include adaptive-value("margin-bottom", 60, 30, 1);
    }

    .menu_list {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 80, 20, 1);
        @include adaptive-value("margin-bottom", 45, 30, 1);
    }

    .menu_link {
        color: $white;
        font-size: 16px;
        font-family: "Raleway";
    }

    .footer_text {
        color: $gray;
        font-family: "Raleway";
        max-width: 655px;
        line-height: 190%;
        text-align: center;
        @include adaptive-value("margin-bottom", 45, 30, 1);
    }

    .facebook {
        width: 42px;
        height: 42px;
        @include adaptive-value("margin-bottom", 85, 30, 1);
    }

    .copyright {
        color: $gray;
        font-family: "Raleway";
        text-align: center;
        padding-top: 35px;
        border-top: 1px solid $yellow;
        width: 100%;
    }
}