@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Integral CF';
  src: url('../fonts/Fontspring-DEMO-integralcf-extrabold.ttf');
  font-style: normal;
  font-weight: 800;
}