<footer id="footer">
  <div class="container">
    <div class="content">
      <img class="logo" src="./images/logo.webp" alt="logo" />
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item"><a class="menu_link" href="index.html#blog">Blog</a></li>
          <li class="menu_item"><a class="menu_link" href="about_us.html">About</a></li>
          <li class="menu_item"><a class="menu_link" href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="info_links">
        <a href="tel:+123456789" class="link">+123456789</a>
        <a href="mailto:example@email.com" class="link">example@email.com</a>
        <a href="#" class="link">address</a>
      </div>
      <div class="social_links">
        <a href="#" class="media_link">
            <img src="./images/inst.svg" alt="instagrm">
        </a>
        <a href="#" class="media_link">
            <img src="./images/facebook.svg" alt="facebook">
        </a>
        <a href="#" class="media_link">
            <img src="./images/x.svg" alt="x">
        </a>
      </div>
    </div>
  </div>
</footer>
