<header id="header">
  <div class="container">
    <div class="content">
      <a class="logo" href="index.html">
        <img  src="./images/logo.webp" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item"><a class="menu_link" href="index.html#blog">Blog</a></li>
          <li class="menu_item"><a class="menu_link" href="about_us.html">About</a></li>
          <li class="menu_item"><a class="menu_link" href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
