<footer id="footer" class="footer footer_black">
  <div class="container">
    <div class="content">
      <div class="column_1 column">
        <img class="logo" src="./images/yellow_logo.svg" alt="logo" />
        <span class="copyright visible">UrbandGlide @2024</span>
      </div>
      <div class="column_2 column">
        <a href="index.html" class="link">Home</a>
        <a href="about.html" class="link last">About</a>
      </div>
      <div class="column_3 column">
        <h3 class="column_title">Contact Us</h3>
        <a href="tel:+1234567890" class="link">+1234567890</a>
        <a href="mailto:example@email.com" class="link">example@email.com</a>
        <a href="#" class="link last">Address</a>
      </div>
      <div class="column_4 column">
        <h2 class="contact_title">Get the newsletter</h2>
        <p class="text">
          Receive product recommendations, reviews and deals three times a week.
        </p>
        <form>
          <input
            class="mail_input"
            type="email"
            placeholder="Enter Your Email"
          />
          <button class="form_btn" type="submit">Submit</button>
        </form>
      </div>
      <span class="copyright hidden">UrbandGlide @2024</span>
    </div>
  </div>
</footer>
