<footer id="footer" class="footer">
  <div class="container">
    <div class="content">
      <div class="column_1 column">
        <img class="logo" src="./images/yellow_logo.svg" alt="logo" />
        <span class="copyright">UrbandGlide @2024</span>
      </div>
      <div class="column_2 column">
        <a href="index.html" class="link">Home</a>
        <a href="about.html" class="link">About</a>
        <a href="#" class="facebook">
          <img src="./images/facebook_yellow.svg" alt="facebook">
        </a>
      </div>
    </div>
  </div>
</footer>
