<header id="header">
    <div class="container">
        <div class="content">
            <a class="logo" href="index.html">
                <img  src="./images/logo.webp" alt="logo">
            </a>
            <nav class="menu">
              <ul class="menu_list">
                <li class="menu_item"><a class="menu_link" href="index.html">Home</a></li>
                <li class="menu_item"><a class="menu_link" href="about.html">About</a></li>
              </ul>
            </nav>
            <a href="#" class="facebook">
                <img src="./images/facebook.svg" alt="facebbok">
            </a>
        </div>
    </div>
</header>